---
import Instagram from "./icons/instagram.astro";
---

<footer>
    <nav>
        <ul>            
            <li class="insta"><a href="https://www.instagram.com/rita.w27/"><Instagram/></a></li>
        </ul>
    </nav>
</footer>


<style>
    footer{
        margin-top: 84px;
        width: 100%;
        background-color: #bd81c6;
        color:white;
        display:flex;
        flex-direction: column;
        align-items: center;

    }
    ul{
        padding: 16px;
        display: flex;
        flex-direction: row;
        gap: 16px;
        align-items: center;
    }
    insta{
        color: white;
    }
    git{
        color: white;
    }
    lin{
        color: white;
    }
    li{
        list-style: none;
    }
    a{
        color: #ffffff;
    }
</style>