
<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content="Astro" />
    <meta name="description" content="Portfolio de Rita Vicente Dominguez, Técnico Superior en Desarrollo de Aplicaciones Web." />
    <meta name="author" content="Rita Vicente Dominguez" />
    <meta name="keywords" content="portfolio, desarrolladora web, Rita Vicente Dominguez, aplicaciones web" />
    <title>Portfolio Rita</title>
	<link rel="stylesheet" href="/src/styles/global.css" />
  </head>
  <body>
    <div class="site-wrapper">
      <slot />
    </div>
  </body>
</html>
